<div class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" name="date" placeholder="YYYY-MM-DD">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    <div class="row base-time">
        <h6 class="text-muted base-time-title">Base Time</h6>
        <div class="base-time-button">
            <select class="custom-select d-block w-100" name="bt" required>
                <option value="03" selected>03Z</option>
                <option value="09">09Z</option>
                <option value="15">15Z</option>
                <option value="21">21Z</option>
            </select>
            <div class="invalid-feedback">
                Please select Base time.
            </div>
        </div>
    </div>
    <div class="row forecast-time">
        <h6 class="text-muted forecast-time-title">Forecast Time</h6>
        <div class="forecast-time-button">
            <select class="custom-select d-block w-100" name="ft" required>
                <option value=""></option>
                <option value="00" selected>00</option>
                <option value="03">03</option>
                <option value="06">06</option>
                <option value="09">09</option>
                <option value="12">12</option>
                <option value="15">15</option>
                <option value="18">18</option>
                <option value="21">21</option>
                <option value="24">24</option>
                <option value="27">27</option>
                <option value="30">30</option>
                <option value="33">33</option>
            </select>
            <div class="invalid-feedback">
                Please select forecast time.
            </div>
        </div>
    </div>
</div>