<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SimRec</title>
    <link rel="shortcut icon" href="https://simrec.s3.amazonaws.com/templates/static/img/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://simrec.s3.amazonaws.com/templates/static/css/_button.css">
    <link rel="stylesheet" href="https://simrec.s3.amazonaws.com/templates/static/css/_checkbox.css">
    <link rel="stylesheet" href="https://simrec.s3.amazonaws.com/templates/static/css/_image.css">

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
{% include 'includes/_navbar.html' %}

{% block body %}{% endblock %}

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>

</html>
